<nav class="pagination" role="navigation">
    <span class="newer-posts">&nbsp;</span>
    <span class="post-list-pagination-item post-list-pagination-item-current"><a class="" href="/"><span class="dn-icon-back dn-back-to-posts"></span></a>
    </span>
     <a href="/" class="older-posts dn-back-to-posts hide-for-small" data-pjax>BACK</a>
</nav>