{{!< default}}

{{#post}}
<div class="cr-single-static-content" data-cr-tags="{{#foreach tags}}{{name}}|{{/foreach}}" style="display: none">       
    <div class="large-12 medium-12 small-12 columns cr-static-load-content cr-page-content">
        {{content}}
    </div>
</div>
<div class="cr-portfolio-category-content cr-acontent" style="display: none"></div>
{{/post}}