{{!< default}}

{{#post}}
    <div class="cr-page-content" data-cr-tags="{{#foreach tags}}{{name}}|{{/foreach}}" style="display: none">            
        {{content}}
    </div>
    <div class="cr-portfolio-page cr-acontent" style="display: none"></div>
    <div class="cr-portfolio-category-content cr-acontent" style="display: none"></div>
{{/post}}
    
